<div>
    <h1>About Classroom Hero...</h1>
    <p>Ever since sophmore year, I've been taking notes using my laptop. I've seen people using them before and I thought I'd do the same. 
But then an idea appeared, what if people can take notes together? Could I create a website that helps student post notes in a forum/blog style that promotes teamwork? 
After searching a professor, one could find their class and work together by putting together notes. Placing tags to help find more relavant material, editing of other people's notes with the permission of the original poster. 
This type of working together promotes a team based mentality that befits a company, preparing students for possible work environments.</p>
</div>
<%= image_tag("Placeholder4.jpg", alt: "1", id: "slide2", height: 480, width: 900)%>
<script>
	slideit2();	
</script>
<h1></h1>