<div class= "Centered main page items">    
    <h1>Log in below to start working together with your class!</h1>
</div>
<div style="text-align:center">
    <%= link_to "Log in / Sign Up",   signup_path, :class => "loginlink"%>
</div>
<h1>
	
</h1>
<%= image_tag("Class1.jpg", alt: "1", id: "slide1", height: 480, width: 900)%>
<script>
	slideit1();	
</script>
<h1></h1>