<footer class="botbar">
  <div class="footerstuff">
    <nav>
      <ul class="footerlinks">
        <li><%= link_to "Contact Us",   contact_us_path, :class => "header-links"%></li>
      </ul>
      <p>ClassroomHero ©20xx</p>
    </nav>
  </div>
</header>