<header class="header">
  <div class="headerstuff">
    <%= image_tag("ClassroomHeroProject.png", alt: "Logo", height: 80)  %>
    <nav>
      <ul class="headlist">
        <li><%= link_to "Log in/Sign Up",   "/", :class => "header-links"%></li>
        <li><%= link_to "About",   about_path, :class => "header-links"%></li>
      </ul>
    </nav>
  </div>
</header>